.currency {
  display: grid;
  grid-row-gap: 10px;

  .currency-block {
    display: grid;
    grid-row-gap: 10px;
    height: 300px;
    box-shadow: 2px 2px 6px #DEE2E6;
    border-radius: 4px;
    background: rgba(7, 35, 77, 50);
    color: #ffffff;
    padding: 20px 5px;


    .block-header {
      display: grid;
      grid-auto-flow: column;

      .date-container, .currency-container {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 34px;

        .container-header {
          padding-left: 10px;
        }

      }

      .input {
        height: 60px;
        border-radius: 4px;
        background: #ffffff;
        color: #07234D;
        width: 250px;
        font-size: 30px;
        padding-left: 10px;
        border: 1px solid transparent;

        &::-webkit-inner-spin-button, &::-webkit-clear-button {
          display: none;
        }
        &:hover, &:focus{
          border-color: red;
        }
      }

    }

    .block-body {
      display: grid;
      justify-content: center;
      align-items: center;
      justify-items: center;

      .count-container {
        display: flex;
        font-size: 40px;
        align-self: flex-end;
      }

      .rate-container {
        font-size: 60px;
        align-self: flex-start;

        .crown {
          font-size: 30px;
        }
      }
    }

  }
}