.content {
  position: relative;
  background: #F1F3F5;
  height: 100%;
}

.page-content {
  padding: 1.25% 40px 96px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  .page-header {
    color: #07234D;
    font-size: 36px;
    font-weight: 900;
    line-height: normal;
  }

}

