.currencies {

  display: grid;
  grid-row-gap: 10px;



  .currencies-table {
    display: grid;
    box-shadow: 2px 2px 6px #DEE2E6;
    cursor: default;


    .currency-header, .currency-item {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      align-items: center;

      .index {
        padding-left: 15px;
      }
    }

    .currency-header {
      background: #07234D;
      color: #fff;
      height: 43px;
      border-radius: 4px 4px 0 0;
      position: sticky;
      top: 0;

      .header-item {
        display: grid;
      }
    }

    .currency-body {
      display: grid;

      .currency-item {
        background: #fff;
        height: 44px;
        border-bottom: 1px solid #DEE2E6;

        &:hover {
          background: #F1F3F5;
        }

        .name {
          .link {
            color: #000;

            &:hover {
              cursor: pointer;
              color: #07234D;
              font-weight: bold;
            }
          }
        }

      }
    }
  }
}